<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DasborPribadi">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DasborPribadi.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep link scheme dasbor://?action=... -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="dasbor" />
            </intent-filter>
        </activity>

        <!-- Widget 1: Kartu Dasbor Lengkap (4x2 / 3x2) -->
        <receiver
            android:name=".DasborWidgetProvider"
            android:label="@string/widget_card_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dasbor_widget_info" />
        </receiver>

        <!-- Widget 2: Bar Pintasan Cepat (4x1) -->
        <receiver
            android:name=".DasborBarWidgetProvider"
            android:label="@string/widget_bar_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dasbor_widget_bar_info" />
        </receiver>

    </application>

</manifest>